* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 65px;
  margin-bottom: 5px;
}
h2 {
  font-size: 45px;
}
h4 {
  font-size: 24px;
  color: #121212;
}

h6 {
  font-size: 18px;
  color: #b3b3b3;
}

p {
  color: #707070;
  font-size: 18px;
}
.top-banner {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
}
.top-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}
#top-b-p {
  color: white;
  line-height: 30px;
}
.banner-content {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.donate-today p {
  margin-top: 15px;
  line-height: 30px;
}
.banner-content h1 {
  line-height: 90px;
}
.link-button {
  text-decoration: none;
  background-color: #ff2e3d;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}
.donate-today {
  padding-top: 100px;
  text-align: center;
}

hr {
  color: #dadada;
}
.contant-box {
  display: flex;
  width: 135px;
  height: 123px;
  border-radius: 5px;
  color: #7e1f1f;
}
.donate-plan {
  padding-top: 100px;
  text-align: center;
}
.donate-plan p {
  margin-top: 15px;
  line-height: 30px;
}
.container-1 {
  display: flex;
  justify-content: center;
  margin: 50px 0 80px;
}
.amount {
  font-weight: 400;
  width: 700px;
  margin: 50px auto;
  padding-bottom: 15px;
  display: block;
  border: 0;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: 18px;
}
.amount:focus {
  outline: none;
  box-shadow: none;
}
.hr {
  width: 700px;
  margin: auto;
  color: #dadada;
}
.box {
  text-align: center;
  margin: 10px;
  position: relative;
  width: 140px;
  height: 125px;
  background-color: #fafafa;
  line-height: 125px;
  border-radius: 5px;
}
.box.active {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}
.box h5 {
  font-size: 30px;
}
.volunteer {
  background-image: url(images/pb.jpg);
  position: relative;
  padding: 103px 0px 110px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  color: #ffffff;
  z-index: 1;
}
.volunteer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  z-index: -1;
}
.volunteer-content {
  text-align: center;
}
.volunteer-content h2 {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.volunteer-content h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.volunteer-content h4 span {
  color: #ff2e3d;
}
.volunteer-content button {
  background-color: #ff2e3d;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}
.container-2 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  justify-content: center;
  margin-top: 10px;
}
.box-one {
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 10px;
  border: 10px solid white;
  padding: 15px;
  width: 360px;
  height: 352px;
}
.box-two {
  background-color: rgba(255, 89, 89, 0.1);
  border-radius: 10px;
  border: 10px solid white;
  padding: 15px;
  width: 360px;
  height: 352px;
}
.box-three {
  background-color: rgb(247, 246, 205);
  border-radius: 10px;
  border: 10px solid white;
  padding: 15px;
  width: 360px;
  height: 352px;
}
.bx img {
  width: 60px;
  height: 50px;
  margin-top: 40px;
}
.bx h4 {
  margin-top: 25px;
}
.bx p {
  margin-top: 15px;
  line-height: 25px;
}
.donation-container {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 100px;
  width: 80%;
}
.donation-text {
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}
#img2 {
  width: 440px;
  height: 320px;
}
.subscribe {
  padding: 100px 0;
}
.update-area {
  text-align: center;
}
#update-a-text1 h2 {
  padding-bottom: 0;
}
.subscribe-area {
  text-align: center;
}
.sub-box {
  width: 800px;
  height: 200px;
  background-color: #fff4d6;
  margin: 50px auto 0;
  position: relative;
}
.update-area p {
  margin-top: 15px;
  line-height: 30px;
}
.subscribe-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.subscribe-content input {
  height: 45px;
  width: 300px;
  border: none;
  background: #d9d9d9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
}
.subscribe-content button {
  height: 45px;
  width: 150px;
  border: none;
  background: #ff5959;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
footer {
  text-align: center;
}
footer h5 {
  font-family: "Lobster", cursive;
  font-size: 36px;
  text-align: center;
  color: #ff2e3d;
  padding-top: 50px;
  margin-bottom: 0;
}
footer p {
  color: white;
  font-size: 14px;
  margin-top: 20px;
}
#footer-side {
  height: 180px;
  background-color: black;
}
